<h1>User {{userName}} the color is {{favoriteColor}}</h1>
{{camelCase userName}}
{{snakeCase userName}}
{{kebabCase userName}}
{{dotCase userName}}
{{pathCase userName}}
{{pascalCase userName}}
{{lowerCase userName}}
{{sentenceCase userName}}
{{constantCase userName}}
{{titleCase userName}}


//Modifiy to html

<ul id="addplace"></ul>